---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Image1 from '@/public/images/Image1.jpg';


const tags = [ "Mídia Social", "Ui/Ux", "Design Gráfico","Branding","Desenvolvimento","Automação","Tráfego","Foto e Vídeo"]
const posts = [{
  id: 1, 
  nomedoProjeto: "Projeto 1",
  tags: [0],
  descricao: "bla bla bla bla bla",
  imagem: "/images/Image1.jpg",
  link: "",
}];
---

<Layout title="Portifólio - Brevard">
<Header/>
  <section id="Portifólio" class="section bg-primary-500 dark:bg-primary-50 pt-32">
    <div class="container-custom">
      <div class="text-center max-w-3xl mx-auto pb-16">
        <h2 class="h2 text-primary-50 dark:text-primary-500">
          <span class="text-secondary-50">Resultados </span>falam mais alto.
        </h2>
        <p class="text-primary-50 dark:text-primary-500 mt-8">
          Veja como já transformamos marcas com estratégia e criatividade.
        </p>
      </div>

      <!-- Grid de Cards -->
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {posts.map(post => (
            
            <div class="bg-primary-500 dark:bg-primary-100 rounded-lg border border-primary-300 w-full">
              <img 
                src={post.imagem} 
                class="w-full h-48 object-cover rounded-t-lg"
              />
              <div class="text-left p-6">
                <span class="font-bold text-secondary-50">
                  {post.tags.map(tagIndex => tags[tagIndex]).join(', ')}
                </span>
                <a href={`/projetos/${post.id}`} class="block">
                  <h3 class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 h3 mt-4 mb-4">
                    {post.nomedoProjeto}
                  </h3>
                  <p class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 mb-4">
                    {post.descricao}
                  </p>
                </a>
              </div>
            </div>

            <div class="bg-primary-500 dark:bg-primary-100 rounded-lg border border-primary-300 w-full">
              <img 
                src={post.imagem} 
                class="w-full h-48 object-cover rounded-t-lg"
              />
              <div class="text-left p-6">
                <span class="font-bold text-secondary-50">
                  {post.tags.map(tagIndex => tags[tagIndex]).join(', ')}
                </span>
                <a href={`/projetos/${post.id}`} class="block">
                  <h3 class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 h3 mt-4 mb-4">
                    {post.nomedoProjeto}
                  </h3>
                  <p class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 mb-4">
                    {post.descricao}
                  </p>
                </a>
              </div>
            </div>
            
             <div class="bg-primary-500 dark:bg-primary-100 rounded-lg border border-primary-300 w-full">
              <img 
                src={post.imagem} 
                class="w-full h-48 object-cover rounded-t-lg"
              />
              <div class="text-left p-6">
                <span class="font-bold text-secondary-50">
                  {post.tags.map(tagIndex => tags[tagIndex]).join(', ')}
                </span>
                <a href={`/projetos/${post.id}`} class="block">
                  <h3 class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 h3 mt-4 mb-4">
                    {post.nomedoProjeto}
                  </h3>
                  <p class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 mb-4">
                    {post.descricao}
                  </p>
                </a>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
<Footer />
</Layout>
